@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
     font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
     color: black;
     padding: 50px 200px;
}
nav{
     display: flex;
     justify-content: space-between;
}

nav > ul{
     display: flex;
}

nav li {
     list-style: none;
     margin: 20px;
}
